<!-- this is for div image  -->

<main>
    <div class="intro">
      <marquee direction="left" behavior="alternate"><b> Welcome to Online Book Store</b> </marquee>
      <p>Looking for books??</p>
      <a (click)="gotoLogin()"><strong>ORDER NOW </strong><i class="bi bi-arrow-right"></i></a>
    </div>
  </main>
  
  <!-- This is for category of the books -->
  <div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="menu-section-heading">EXPLORE BOOKS</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/Biographies.jpg" class="menu-item-image w-100" />
            <h2 class="menu-card-title">BIOGRAPHIES</h2>
          </div>
  
        </div>
  
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/love-story.avif" class="menu-item-image w-100" />
            <h2 class="menu-card-title">LOVESTORIES</h2>
          </div>
  
        </div>
  
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/HorrorLogo.png" class="menu-item-image w-100" />
            <h2 class="menu-card-title">HORROR</h2>
          </div>
  
        </div>
  
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/sciencebooks.webp" class="menu-item-image w-100" />
            <h2 class="menu-card-title">SCIENCE</h2>
  
          </div>
  
        </div>
  
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/History.jpg" class="menu-item-image w-100" />
            <h2 class="menu-card-title">HISTORY</h2>
          </div>
  
        </div>
  
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/Mathspic.avif" class="menu-item-image w-100" />
            <h2 class="menu-card-title">MATHEMATICS</h2>
          </div>
  
        </div>
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/thriller.jpg" class="menu-item-image w-100" />
            <h2 class="menu-card-title">THRILLER</h2>
          </div>
  
        </div>
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/comic.jpg" class="menu-item-image w-100" />
            <h2 class="menu-card-title">COMIC</h2>
          </div>
  
        </div>
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/fantasybook.jpg" class="menu-item-image w-100" />
            <h2 class="menu-card-title">FANTASY</h2>
          </div>
  
        </div>
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/computerscience.jpg" class="menu-item-image w-100" />
            <h2 class="menu-card-title">COMPUTER SCIENCE</h2>
          </div>
  
        </div>
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/politicalsciencepic.jpeg" class="menu-item-image w-100" />
            <h2 class="menu-card-title">POLITICAL BOOKS</h2>
          </div>
  
        </div>
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/financeimage.jpg" class="menu-item-image w-100" />
            <h2 class="menu-card-title">FINANCE</h2>
          </div>
        </div>
     
      
       
        