<br /><br />
<div class="centered">
    Select Cateogry : <select [(ngModel)]="category" (change)="getBookByCategory()">
        <option [value]="100">All</option>
        <option *ngFor="let item of getCategoryList" [value]="item?.value">{{item?.name}}</option>
    </select>
</div>
<br />
<div *ngIf="bookList.length===0" class="centered">
    No book is available in list
</div>
<!-- <div *ngIf="bookList.length>0" class="centered">
    <table border="1" style="border: 1px solid black;">
        <tr>
            <th>Book Id</th>
            <th>Book Name</th>
            <th>Book Description</th>
            <th>Book Image</th>
            <th>Book MRP</th>
            <th>Book Quantity</th>
            <th>Author</th>
            <th></th>
        </tr>
        <tr *ngFor="let book of bookList">
            <td>{{book?.bookId}}</td>
            <td>{{book?.bookname}}</td>
            <td>{{book?.description}}</td>
            <td><img [src]="book?.image" /></td>
            <td>{{book?.mrpPrice}}</td>
            <td>{{book?.quantity}}</td>
            <td>{{book?.authorName}}</td>
            <td>
                <mat-icon title="Edit" (click)="editBook(book)">edit</mat-icon>
                <mat-icon title="Delete" (click)="delBook(book)">delete</mat-icon>
            </td>
    </table>
</div>   -->

<div class="row">
    <div class="col-lg-3 mt-3" *ngFor="let book of bookList;index as i">
        <div class="itemsbox" *ngIf="bookList.length>0">
            <p>{{book?.bookId}}</p>
            <h1>{{book?.bookname}}</h1>
            <img [src]="book?.image" />
            <p><b>Description:</b>{{book?.description}}</p>
            <p><b>Quantity:</b> {{book?.quantity}}</p>
            <p><b>Author:</b>{{book?.authorName}}</p>
            <p><b>Price:</b> {{book?.mrpPrice | currency:'INR'}}</p>
            <button (click)="editBook(book)">Edit</button>&nbsp;
            <button (click)="delBook(book)">Delete</button>
        </div>
    </div>
</div>




<br />
<div *ngIf="bookList.length>0" class="centered">
    <app-paging
    [totalbook]="totalbook"
    [pageSize]="pageSize"
    [offset]="offset"
    (onNextPageClick)="onNextPageClick($event)"
    (onPreviousPageClick)="onPreviousPageClick($event)"
    (onFirstPageClick)="onFirstPageClick($event)"
    (onLastPageClick)="onLastPageClick($event)"
></app-paging>
</div>
<br />